$body-background: #f7f7f7;
$body-color: #555555;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$primary-color: #72c02c;

$status-colors: (
    'success', #000000,
    'danger', #000000,
    'info', #000000,
    'warning', #000000
);

$delimiter-color: #f1f1f1;

$nav-height: 57;
$footer-height: 45;

$side-bar: (
    "width": 250,
    "background": #3B3B3B,
    "color": #FFFFFF
);