@import "./../abstract/variable";

html {
    font-size: 100%;
}

body {
    font-family: $font-primary;
    background-color: $body-background;
    color: $body-color;
    margin: 0;

    &.sidebar--open {
        main {
            margin-left: toPx(map-get($side-bar, "width"));
            min-height: calc(100vh - #{toPx($nav-height)} - #{toPx($footer-height)});
        }
        .footer {            
            margin-left: toPx(map-get($side-bar, "width"));
        }
    }
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        color: $primary-color;
        // text-decoration: none;
    }
}

// ::selection {
//     user-select: auto;
//     color: #FFFFFF;
//     background-color: $primary-color;
// }

main {
    padding: 10px;
    margin-top: toPx($nav-height);
}

h1 {
    font-size: 2rem;
}
