@import "~src/assets/scss/abstract/variable";

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 2px solid #e7e7e7;
    z-index: 3;
  
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &__item {
      display: inline-block;
    }
  
    &__link {
      display: block;
      color: #3b3b3b;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      padding: 20px 15px;
      font-family: $font-secondary;
  
      &:hover {
        color: $primary-color;
      }
    }
  }